@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;        /* #050505 pure deep dark */
    --foreground: 0 0% 98%;

    --card: 0 0% 4%;              /* #0a0a0a */
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 9%;         /* #171717 */
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 45%; /* zinc-500 */

    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9% / 0.5;   /* hairline border */
    --input: 0 0% 14.9% / 0.7;
    --ring: 0 0% 39.2%;           /* zinc-600 */

    --radius: 0.375rem;           /* 6px */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased selection:bg-zinc-800 selection:text-zinc-100;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Micro scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
